body{
    font-family:Lato, sans-serif;
    background-color: #1F1F1F;
}
.logo-link {
    width: 1460px;
    height: 50px;
    margin: 37px 230px 120px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 216px;
    height: 33px;
}
.link-container {
    width: 218px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
}
.tel-link {
    width: 144px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #E4B564;
    text-decoration: none;
    text-align: center;
}
.tel-link__image {
    width: 13px;
    height: 13px;
}
.section-name {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56%;
    color: white;
}
.section-name.section-1 {
    margin-left: 230px;
    margin-bottom: 41px;
}
.description {
    margin-left: 230px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: white;
    width: 1182px;
    height: 56px;
    margin-bottom: 41px;
}
.container {
    width: 1460px;
}
.grid-container1 {
    display: grid;
    width: 1460px;
    margin: 0 230px 161px 230px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 468px 468px;
    grid-gap: 27px 31px;
}
.grid-container1__item1 {
    background-color:#634F2C;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: white;
}
.grid-container1__item2 {
    background-color: #B4A385;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: white;
    text-align: center;
    padding: 206px 43px 206px 44px;
}
.grid-container1__item3 {
    background-color: #E4B564;
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: white;
}
.grid-container1__item4 {
    background-color: #635A4A;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: white;
}
.grid-container1__item5 {
    background-color: #B08C4D;
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: white;
}
.section-name.section-2 {
    margin-left: 230px;
    margin-bottom: 94px;
}
.grid-container2 {
    display: grid;
    margin: 0 230px 190px 230px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 255px 58px 126px 128px 277px;
    grid-gap: 26px 30px;
    width: 1460px;
}
.grid-container2__item1 {
    background-color: #0E0E0E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    padding: 44px 113px 219px 52px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-container2__item2 {
    background-color: #242424;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    padding: 44px 114px 345px 51px;
    grid-row-start: 1;
    grid-row-end: 4;
}
.grid-container2__item3 {
    background-color: #242424;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    padding: 44px 117px 186px 48px;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-container2__item4 {
    background-color: #242424;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    text-align: left ;
    padding: 56px 113px 479px 52px;
    grid-row-start: 3;
    grid-row-end: 6;
}
.grid-container2__item5 {
    background-color: #E4B564;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: black;
    padding: 47px 113px 333px 52px;
    grid-row-start: 4;
    grid-row-end: 6;
}
.grid-container2__item6 {
    background-color: #0E0E0E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 44px 117px 244px 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    grid-row-start: 2;
    grid-row-end: 5;
}
.grid-container2__item7 {
    background-color: #0A0909;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 44px 117px 208px 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    grid-row-start: 5;
    grid-row-end: 6;
}
footer{
    background-color: black;
    width: 1920px;
    padding-top: 172px;
}
.footer-container {
    width: 1460px;
}
.output-description {
    display: inline-flex;
    width: 1460px;
    max-width: 100%;
    height: 50px;
    margin: 0 230px 61px 230px ;
    justify-content: space-between;
}
.project-link {
    top: 0;
    right: 0;
    width: 101px;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border: 1px solid #E4B564;
}
.flex-container {
    display: flex;
    width: 1460px;
    margin: 0px 230px 240px 230px;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-container__item1 {
   background-color: #634F2C;
    width: 487px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container__item2 {
   background-color:  rgba(232, 210, 171, 0.76);
    width: 486px;
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center ;
}
.project-description {
    padding:16px 60px 61px 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: white;
}
.flex-container__item3 {
   background-color: #E4B564;
    width: 487px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container__item4 {
   background-color: #635A4A ;
    width: 487px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container__item5 {
   background-color: #B08C4D;
    width: 486px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container__item6 {
   background-color: #634F2C;
    width: 487px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}